<% include partials/header %>

<div class="container">
    <header class="jumbotron">
      <div class="container">
       <h1>Welcome to Yelp Campgrounds</h1>
        <p>
          <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new Campground</a>
        </p>
      </div>
    </header>
      <% campgrounds.forEach(function(campgrounds){ %>
          <div>

            <h4><%=campgrounds.name %></h4>
            <img src="<%= campgrounds.image %>">
         </div>
    <% }); %>
</div>

<% include partials/footer %>
