
<% include partial/header %>

<h1>Create a New Campground</h1>

<form action = "/campgrounds" method="POST">
    <input type="text" placeholder="name">
  <button>Submit</button>
</form>

<% include partial/footer%>
